$black: #2B2B2B;
$accent: #0BB697;
$hover: #008d83;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.05em;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: $black;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, span, input, input::placeholder, a, button {
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background: rgba(42, 42, 42, 0.8);
    outline: 2px solid white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .profileButton {
        background: $accent;
        font-size: 32px;
        padding: 12px 48px;
        border-radius: 40px;
        transition: all 0.3s;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
            background: $hover;
        }
    }

    img {
        cursor: pointer;
    }
}