@use '../main' as *;

.topInfo {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/index-background.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
}