@use '../main' as *;

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.loginMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("/login-bg.png");
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    position: relative;

    .backButton {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        background-color: $black;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;

        &.active {
            .signIn {
                transform: translateX(100%);
                opacity: 0;
                z-index: -1;
            }

            .signUp {
                transform: translateX(100%);
                opacity: 1;
                z-index: 5;
                animation: move 0.6s;
            }

            .toggleContainer {
                transform: translateX(-100%);
                border-radius: 0 120px 120px 0;
            }

            .toggle {
                transform: translateX(50%);
            }

            .toggleLeft {
                transform: translateX(-200%);
            }

            .toggleRight {
                transform: translateX(200%);
            }
        }

        h1 {
            font-size: 32px;
        }
    }

    .formContainer {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding: 0 40px;
            height: 100%;
        }

        &.signIn {
            left: 0;
            width: 50%;
            z-index: 2;
        }

        &.signUp {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }

        input {
            background-color: #eee;
            border: none;
            padding: 10px 15px;
            font-size: 14px;
            border-radius: 8px;
            width: 100%;
            outline: none;
            color: $black;

            &::placeholder {
                color: $black;
            }
        }
    }

    button {
        background: $accent;
        font-size: 16px;
        outline: none;
        border: 1px solid $accent;
        color: #fff;
        padding: 10px 45px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background: $hover;
            border: 1px solid $hover;
        }

        &.hidden {
            background-color: transparent;
            transition: all 0.5s;
            border: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                transition: 0.3s;
            }

            &:hover::before {
                opacity: 0;
                transform: scale(0.5, 0.5);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s;
                border: 1px solid rgba(255,255,255,0.5);
                border-radius: 10px;
                transform: scale(1.2,1.2);
            }

            &:hover::after {
                opacity: 1;
                transform: scale(1,1);
            }
        }

        &.loading {
            position: relative;
            overflow: hidden;
            cursor: wait !important;
            
            @keyframes loading {
                0% {
                    transform: translateX(25px);
                }

                100% {
                    transform: translateX(-20px);
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 300%;
                height: 100%;
                background: repeating-linear-gradient(60deg, transparent, transparent 15px, #fff 1px, #fff 17px);
                animation: loading 1s linear infinite;
            }
        }
    }

    .toggleContainer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 120px 0 0 120px;
        z-index: 1000;

        .toggle {
            background: linear-gradient(to right top , #0BB697, #006259);
            height: 100%;
            position: relative;
            left: -100%;
            width: 200%;
            transform: translateX(0);
            transition: all 0.6s ease-in-out;

            .togglePanel {
                position: absolute;
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                padding: 0 30px;
                text-align: center;
                top: 0;
                transform: translateX(0);
                transition: all 0.6s ease-in-out;
            }

            .toggleLeft {
                left: 0;
                transform: translateX(0%);
            }

            .toggleRight {
                right: 0;
                transform: translateX(0%);
            }
        }
    }
}